<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">

<link rel="import" href="/bower_components/neon-animation/animations/slide-from-bottom-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/slide-down-animation.html">
<link rel="import" href="/bower_components/neon-animation/neon-animated-pages.html">

<link rel="import" href="add-card-line-list.html">
<link rel="import" href="add-card-stop-list.html">


<dom-module id="add-card-dialog">
    <template>
        <style include="iron-flex iron-flex-alignment iron-positioning">

            #addDialog
            {
                width:      500px;
                max-width:  500px;
                position:   absolute;
                top:        0;
                bottom:     0;
            }

            @media(max-width:520px)
            {
                #addDialog
                {
                    width:auto;
                    right:0;
                    left:0;
                }
            }

            .ellipsis {
                overflow-x: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .line
            {
                padding:        10px 0;
                border-bottom:  1px solid #999;
            }

            neon-animated-pages
            {
                overflow-x:     hidden;
            }

        </style>

        <paper-dialog   id="addDialog"
                        with-backdrop
                        on-iron-overlay-closed="resetState"
                        on-iron-overlay-canceled="resetState"
                        entry-animation="slide-from-bottom-animation"
                        exit-animation="slide-down-animation"
                        class="layout vertical"
                        >
                <neon-animated-pages    selected="{{ selected }}"
                                        id="pageContainer"
                                        class="flex"
                >
                    <add-card-line-list     lines="[[ lines ]]"
                                            on-select-line="_selectLine"
                    >
                    </add-card-line-list>
                    <add-card-stop-list     stops="[[ stops ]]"
                                            on-stop-selected="_selectStop"
                                            selected-line="[[ selectedLine ]]"
                    >
                    </add-card-stop-list>
                </neon-animated-pages>

            <div class="buttons flex-none">
                <template is="dom-if" if="{{_isStopPages(selected)}}">
                    <paper-button on-tap="_retourLignes">Retour</paper-button>
                </template>
                <paper-button dialog-dismiss>Annuler</paper-button>
            </div>
        </paper-dialog>

        <iron-ajax
            auto
            id="ajax"
            url="/data/line.json"
            handle-as="json"
            last-response="{{data}}"
        >
        </iron-ajax>



    </template>

    <script>
        Polymer({
            is: "add-card-dialog",
            properties:
            {
                selected:       {
                                    type:       Number,
                                    value:      0
                                },
                data:           {
                                    type:       Array,
                                    value:      null
                                },
                lines:          {
                                    type:       Array,
                                    value:      [],
                                    computed:   '_computeLines(data)'
                                },
                selectedLine:   {
                                    type:       Object,
                                    value:      null
                                },
                stops:          {
                                    type:       Array,
                                    value:      [],
                                    computed:   '_computeStops(data, selectedLine)'
                                }
            },
            open:           function(evt)
                            {
                                this.resetState();
                                this.$.addDialog.open();
                            },
            resetState:     function(evt)
                            {
                                this.selected = 0;
                                this.selectedLine = null;
                            },
            close:          function(evt)
                            {
                                this.$.addDialog.close();
                            },
            _computeLines:  function(data)
                            {
                                if  (   data)
                                {
                                    return data .sort(  function(a, b){ return a.priorite - b.priorite; })
                                                .map (
                                                        function(element)
                                                        {
                                                            return  {
                                                                        id:         element.id,
                                                                        code:       element.value.code,
                                                                        name:       element.value.name,
                                                                        directions: element.value.direction,
                                                                        priorite:   element.priorite
                                                                    }
                                                        }
                                                    );
                                }
                                else
                                {
                                    return null;
                                }
                            },
            _computeStops:  function(data, selectedLine)
                            {
                                if  (data && selectedLine && selectedLine.id)
                                {
                                    var ret = null;
                                    data.some   (   function(e)
                                                    {
                                                        if (e.id == selectedLine.id)
                                                        {
                                                            ret =   e.value.stops   .sort   (   function(a, b)
                                                                                                {
                                                                                                    if(a.value < b.value) return -1;
                                                                                                    if(a.value > b.value) return 1;
                                                                                                    return 0;
                                                                                                }
                                                                                            );
                                                            return true;
                                                        }
                                                    }
                                                );
                                    return ret;
                                }
                                else
                                {
                                    return [];
                                }
                            },
            _selectLine:    function(evt, opt)
                            {
                                if(opt && opt.line)
                                {
                                    this.selectedLine = opt.line;
                                    this.selected = 1;
                                }
                            },
            _selectStop:    function(evt, opt)
                            {
                                if(opt && opt.stop)
                                {
                                    evt.stopPropagation();
                                    this.fire('stop-selected', { stop : opt.stop });
                                    this.close();
                                }
                            },
            _retourLignes:  function(evt)
                            {
                                this.selected = 0;
                                this.async(this.resetState, 500);
                            },
            _isStopPages:   function(selected)
                            {
                                return selected == 1;
                            }
        });
    </script>
</dom-module>
