<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="icon-classes.html">

<dom-module id="add-card-stop-list">
    <template>
        <style include="iron-flex iron-flex-alignment iron-positioning icon-classes">
            .ellipsis {
                overflow-x: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .line
            {
                padding:        10px 0;
                border-bottom:  1px solid #999;
            }

            .icon
            {
                background-repeat: no-repeat;
                background-size: contain;
                width: 32px;
                height: 32px;
                margin-right: 15px;
            }
        </style>

        <template is="dom-repeat" items="{{stops}}">
            <div class="line" on-tap="_selectStop" stop-id="[[item.id]]">
                <div class="ellipsis">{{ item.value }}</div>
            </div>
        </template>

    </template>

    <script>
        Polymer({
            is: "add-card-stop-list",
            properties:
            {
                stops:          {
                                    type:       Array,
                                    value:      []
                                },
                selectedLine:   {
                                    type:       Object,
                                    value:      null
                                }
            },
            _selectStop:    function(evt)
                            {
                                var target = evt.target;
                                while(!target.stopId)
                                {
                                    target = target.parentElement;
                                }

                                var line = this.selectedLine;

                                var stop = null;
                                this.stops  .some   (   function(s)
                                                        {
                                                            if(s.id == target.stopId)
                                                            {
                                                                stop = s;
                                                                return true;
                                                            }
                                                        }
                                                    );

                                var ret =   {
                                                stop_name:      stop.value,
                                                line_number:    line.code,
                                                id:             line.id + "-" + stop.id,
                                                stop_id:        stop.id,
                                                line_id:        line.id,
                                                line_priorite:  line.priorite,
                                                directions:     line.directions
                                            };
                                this.fire('stop-selected', { stop : ret});
                            }
        });
    </script>
</dom-module>
