<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">

<link rel="import" href="icon-classes.html">

<dom-module id="add-card-dialog">
    <template>
        <style include="iron-flex iron-flex-alignment iron-positioning icon-classes">

            #addDialog
            {
                min-width: 250px;
            }

            .icon
            {
                background-repeat: no-repeat;
                background-size: contain;
                width: 32px;
                height: 32px;
                margin-right: 15px;
            }

            .ellipsis {
                overflow-x: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .line
            {
                position: relative;
                padding:    10px 0;
                border-bottom: 1px solid #999;
            }

        </style>

        <paper-dialog id="addDialog" with-backdrop="true">
            <h2>Ajouter un favori</h2>

            <paper-dialog-scrollable>

                <template is="dom-if" if="{{!selectedLine}}">
                    <template is="dom-repeat" items="{{lines}}">
                        <div class="horizontal center layout line" on-tap="selectLine" line-id="[[item.id]]">
                            <paper-ripple></paper-ripple>
                            <div class$="[[getIcon(item)]]"></div>
                            <div class="flex ellipsis">{{ item.name }}</div>
                        </div>
                    </template>
                </template>

                <template is="dom-if" if="{{selectedLine}}">
                    <template is="dom-repeat" items="{{stops}}">
                        <div class="line">
                            <paper-ripple></paper-ripple>
                            <div class="ellipsis">{{ item.value }}</div>
                        </div>
                    </template>
                </template>


            </paper-dialog-scrollable>

            <div class="buttons">
                <template is="dom-if" if="{{selectedLine}}">
                    <paper-button on-tap="retourLignes">Retour</paper-button>
                </template>
                <paper-button dialog-dismiss>Annuler</paper-button>
            </div>
        </paper-dialog>

        <iron-ajax
            auto
            id="ajax"
            url="/data/line.json"
            handle-as="json"
            last-response="{{data}}"
        >
        </iron-ajax>



    </template>

    <script>
        Polymer({
            is: "add-card-dialog",
            properties:
            {
                data:           {
                                    type:       Array,
                                    value:      null
                                },
                lines:          {
                                    type:       Array,
                                    value:      [],
                                    computed:   'computeLines(data)'
                                },
                selectedLine:   {
                                    type:       Object,
                                    value:      null
                                },
                stops:          {
                                    type:       Array,
                                    value:      [],
                                    computed:   'computeStops(data, selectedLine)'
                                }
            },
            open:           function(evt)
                            {
                                this.$.addDialog.open();
                            },
            computeLines:   function(data)
                            {
                                if  (   data)
                                {
                                    return data .sort(  function(a, b){ return a.priorite - b.priorite; })
                                                .map (
                                                        function(element)
                                                        {
                                                            return  {
                                                                        id:         element.id,
                                                                        code:       element.value.code,
                                                                        name:       element.value.name,
                                                                        directions: element.value.direction
                                                                    }
                                                        }
                                                    );
                                }
                                else
                                {
                                    return null;
                                }
                            },
            computeStops:   function(data, selectedLine)
                            {
                                if  (data && selectedLine && selectedLine.id)
                                {
                                    var ret = null;
                                    data.some   (   function(e)
                                                    {
                                                        if (e.id == selectedLine.id)
                                                        {
                                                            ret =   e.value.stops   .sort   (   function(a, b)
                                                                                                {
                                                                                                    if(a.value < b.value) return -1;
                                                                                                    if(a.value > b.value) return 1;
                                                                                                    return 0;
                                                                                                }
                                                                                            );
                                                            return true;
                                                        }
                                                    }
                                                );
                                    return ret;
                                }
                                else
                                {
                                    return [];
                                }
                            },
            getIcon:        function(data)
                            {
                                var base_classes = "icon flex-none " ;
                                var icon = (data && data.code) ? "icon-" + data.code : "";
                                return base_classes + icon;
                            },
            selectLine:     function(evt)
                            {
                                var target = evt.target;
                                while(!target.lineId)
                                {
                                    target = target.parentElement;
                                }

                                var line = null;
                                this.data   .some   (   function(d)
                                                        {
                                                            if(d.id == target.lineId)
                                                            {
                                                                line = d;
                                                                return true;
                                                            }
                                                        }
                                                    );

                                // Léger délai pour avoir une jolie animation "ripple" sur le bouton
                                var ctrl = this;
                                this        .async  (   function()
                                                        {
                                                            ctrl.selectedLine = line;
                                                            ctrl.$.addDialog.notifyResize();
                                                        },
                                                        250
                                                    );
                            },
            retourLignes:   function(evt)
                            {
                                this.selectedLine = null;
                                this.$.addDialog.notifyResize();
                            }

        });
    </script>
</dom-module>
