<dom-module id="icon-classes">
    <template>
        <style>
            .icon-1 {
                background-image: url("/images/1.svg");
            }

            .icon-2 {
                background-image: url("/images/2.svg");
            }

            .icon-3 {
                background-image: url("/images/3.svg");
            }

            .icon-3bis {
                background-image: url("/images/3bis.svg");
            }

            .icon-4 {
                background-image: url("/images/4.svg");
            }

            .icon-5 {
                background-image: url("/images/5.svg");
            }

            .icon-6 {
                background-image: url("/images/6.svg");
            }

            .icon-7 {
                background-image: url("/images/7.svg");
            }

            .icon-7bis {
                background-image: url("/images/7bis.svg");
            }

            .icon-8 {
                background-image: url("/images/8.svg");
            }

            .icon-9 {
                background-image: url("/images/9.svg");
            }

            .icon-10 {
                background-image: url("/images/10.svg");
            }

            .icon-11 {
                background-image: url("/images/11.svg");
            }

            .icon-12 {
                background-image: url("/images/12.svg");
            }

            .icon-13 {
                background-image: url("/images/13.svg");
            }

            .icon-14 {
                background-image: url("/images/14.svg");
            }

            .icon-A {
                background-image: url("/images/A.svg");
            }

            .icon-B {
                background-image: url("/images/B.svg");
            }
        </style>

    </template>

</dom-module>
