<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="time-card.html">

<dom-module id="main-app">
    <template>
        <style include="iron-flex iron-flex-alignment iron-positioning">
            :host {
                font-family: sans-serif;
            }

            paper-toolbar {
                font-size: 20px;
                line-height: 60px;
                font-weight: 400;
                padding: 0 10px;
                color: white;
                background-color: #129983;
            }

            .content
            {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        </style>

        <paper-header-panel class="ratp-panel fit">
            <paper-toolbar>
                <paper-icon-button icon="menu"></paper-icon-button>
                <span class="title">RATP</span>
                <paper-icon-button icon="add">+</paper-icon-button>
                <paper-icon-button icon="refresh" on-tap="refresh"></paper-icon-button>
            </paper-toolbar>
            <template class="content vertical layout" is="dom-repeat" items="{{preferences}}">
                <time-card reference-data="{{item}}" update-time="{{updateTime}}"></time-card>
            </template>
        </paper-header-panel>
    </template>

    <script>
        Polymer({
            is: "main-app",
            properties:
            {
                preferences:
                {
                    type:   Array,
                    value:  []
                },
                updateTime:
                {
                    type:       String,
                    value:      new Date().getTime()
                }
            },
            getPreferences:     function()
                                {
                                    return  [
                                                {
                                                    stop_name:      "Glacière",
                                                    line_number:    "6",
                                                    id:             "12-208",
                                                    stop_id:        208,
                                                    line_id:        12,
                                                    priority:       0,
                                                    directions:     [
                                                                        {
                                                                            value:  "Charles de Gaulle-Etoile",
                                                                            id:     23
                                                                        },
                                                                        {
                                                                            value:  "Nation",
                                                                            id:     24
                                                                        }
                                                                    ]
                                                },
                                                {
                                                    stop_name:      "Charles de Gaulle - Étoile",
                                                    line_number:    "6",
                                                    id:             "12-19",
                                                    stop_id:        19,
                                                    line_id:        12,
                                                    priority:       1,
                                                    directions:     [
                                                                        {
                                                                            value:  "Charles de Gaulle-Etoile",
                                                                            id:     23
                                                                        },
                                                                        {
                                                                            value:  "Nation",
                                                                            id:     24
                                                                        }
                                                                    ]
                                                },
                                                {
                                                    stop_name:      "Charles de Gaulle - Étoile",
                                                    line_number:    "A",
                                                    id:             "19-19",
                                                    stop_id:        19,
                                                    line_id:        19,
                                                    priority:       2,
                                                    directions:     [
                                                                        {
                                                                            value:  "Marne-la-Vallee Chessy / Boissy-Saint-Leger",
                                                                            id:     37
                                                                        },
                                                                        {
                                                                            value:  "Cergy-Le-Haut / Poissy / Saint-Germain-en-Laye",
                                                                            id:     38
                                                                        }
                                                                    ]
                                                },
                                                {
                                                    stop_name:      "Nanterre-Préfecture",
                                                    line_number:    "A",
                                                    id:             "19-319",
                                                    stop_id:        319,
                                                    line_id:        19,
                                                    priority:       3,
                                                    directions:     [
                                                                        {
                                                                            value:  "Marne-la-Vallee Chessy / Boissy-Saint-Leger",
                                                                            id:     37
                                                                        },
                                                                        {
                                                                            value:  "Cergy-Le-Haut / Poissy / Saint-Germain-en-Laye",
                                                                            id:     38
                                                                        }
                                                                    ]
                                                }
                                            ];
                                },
            refresh:            function()
                                {
                                    this.updateTime = new Date().getTime();
                                    console.log(this.updateTime);
                                },
            ready:              function()
                                {
                                    this.preferences = this.getPreferences();
                                }
        });
    </script>
</dom-module>
