<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="/bower_components/paper-drawer-panel/paper-drawer-panel.html">

<link rel="import" href="/bower_components/platinum-https-redirect/platinum-https-redirect.html">
<link rel="import" href="/bower_components/platinum-sw/platinum-sw-register.html">
<link rel="import" href="/bower_components/platinum-sw/platinum-sw-cache.html">
<link rel="import" href="/bower_components/platinum-sw/platinum-sw-fetch.html">
<link rel="import" href="/bower_components/platinum-sw/platinum-sw-import-script.html">

<link rel="import" href="time-card.html">
<link rel="import" href="add-card-dialog.html">


<dom-module id="main-app">
    <template>
        <style include="iron-flex iron-flex-alignment iron-positioning">
            :host {
                font-family: sans-serif;
            }

            paper-drawer-panel [drawer] {
                background-color:  var(--paper-grey-200);
            }

            paper-toolbar {
                font-size: 20px;
                line-height: 60px;
                font-weight: 400;
                padding: 0 10px;
                color: white;
                background-color: #129983;
            }

            .content
            {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .can-delete
            {
                color: var(--paper-amber-500);
                cursor:pointer;
            }

            .toast-action
            {
                float:right;
            }


            .icon-ratp
            {
                background-repeat: no-repeat;
                background-size: contain;
                width: 64px;
                height: 64px;
                margin-right: 15px;
                background-image: url("/images/RATP.svg");
            }

            .drawer-header
            {
                font-size:  1.5em;
                font-weight: bold;
                padding: 12px 24px;
                margin-bottom:24px;
            }

            .drawer-button
            {
                padding: 12px;
                font-weight: bold;
                position: relative;
                cursor: pointer;
            }

            .drawer-text
            {
                padding: 12px 24px;
                line-height: 30px;
            }

            .drawer-text > a
            {
                color: #129983;
                font-weight: bold;
                text-decoration: none;
            }

            .bottom-line
            {
                border-bottom:  1px solid #999;
            }

            .top-line
            {
                border-top:     1px solid #999;
            }
        </style>


        <paper-toast    id="caching"
                        duration="5000"
                        text="Données mises en cache ! L'app fonctionnera hors ligne.">
        </paper-toast>

        <paper-toast    id="cancelDelete"
                        text="Mode suppression"
                        opened="[[ canDelete ]]"
                        duration="0"
                        on-tap="cancelDelete"
        >
            <div class="can-delete toast-action">
                ANNULER
                <paper-ripple></paper-ripple>
            </div>
        </paper-toast>

        <paper-toast    id="addingCard"
                        duration="2000"
                        text="Favori ajouté !">
        </paper-toast>

        <!-- <platinum-https-redirect></platinum-https-redirect> -->

        <platinum-sw-register   auto-register
                                clients-claim
                                skip-waiting
                                href="/sw-import.js"
                                on-service-worker-installed="displayToast"
        >

            <platinum-sw-import-script href="/custom-fetch-handler.js"></platinum-sw-import-script>

            <platinum-sw-fetch  handler="timetableFetchHandler"
                                path="/api(.*)"
            >
            </platinum-sw-fetch>

            <platinum-sw-cache  default-cache-strategy="networkFirst"
                                cache-config-file="/cache-config.json"
            >
            </platinum-sw-cache>

        </platinum-sw-register>

        <paper-drawer-panel force-narrow
                            id="drawerPanel"
        >
            <div class="layout vertical" drawer>
                <div class="drawer-header horizontal center layout flex-none">
                    <div class="icon-ratp"></div>
                    <div class="flex">RATP</div>
                </div>
                <div class="drawer-button bottom-line top-line flex-none" on-tap="openAddDialog">
                    <paper-ripple></paper-ripple>
                    Ajouter
                </div>
                <div class="drawer-button bottom-line flex-none" on-tap="toggleDelete">
                    <paper-ripple></paper-ripple>
                    Supprimer
                </div>
                <div class="drawer-button bottom-line flex-none" on-tap="refresh">
                    <paper-ripple></paper-ripple>
                    Rafraîchir
                </div>
                <div class="flex"></div>
                <div class="flex-none drawer-text">
                    Made with <b>&lt;3</b> by <a href="http://cv.garnier.wf/" target="_blank">DGM</a>.
                    <br>
                    Source code on <a href="https://github.com/Kehrlann/pwa-ratp/" target="_blank">Github</a>.
                </div>
            </div>

            <paper-header-panel class="ratp-panel fit" id="panel" main>

                <!-- Toolbar -->
                <paper-toolbar>
                    <paper-icon-button icon="menu" paper-drawer-toggle ></paper-icon-button>
                    <span class="title">RATP</span>
                    <paper-icon-button icon="add" on-tap="openAddDialog">+</paper-icon-button>
                    <paper-icon-button icon="delete" on-tap="toggleDelete" class$="[[getDeleteClass(canDelete)]]"></paper-icon-button>
                    <paper-icon-button icon="refresh" on-tap="refresh"></paper-icon-button>
                </paper-toolbar>

                <!-- Cards -->
                <template   class="content vertical layout"
                            is="dom-repeat"
                            items="[[ preferences ]]"
                            sort="sortPreferences"
                >

                    <time-card  reference-data=     "[[ item ]]"
                                card-id=            "[[ item.id ]]"
                                update-time=        "[[ updateTime ]]"
                                can-delete=         "[[ canDelete ]]"
                                card-being-edited=  "[[ cardBeingEdited ]]"
                                on-show-actions=    "showActionsForCard"
                                on-delete-card=     "deleteCard"
                    >
                    </time-card>
                </template>
            </paper-header-panel>
        </paper-drawer-panel>
        <add-card-dialog    id="addDialog"
                            on-stop-selected="addCard"
        >
        </add-card-dialog>

    </template>

    <script>
        Polymer({
            is: "main-app",
            properties:
            {
                preferences:
                {
                    type:   Array,
                    value:  []
                },
                updateTime:
                {
                    type:       String,
                    value:      new Date().getTime()
                },
                userHasInteracted:
                {
                    type:       Boolean,
                    value:      JSON.parse(localStorage.getItem("userHasInteracted"))
                },
                canDelete:
                {
                    type:       Boolean,
                    value:      false
                },
                cardBeingEdited:
                {
                    type:       String,
                    value:      null
                }
            },
            getPreferences:     function()
                                {
                                    if(this.userHasInteracted)
                                    {
                                        return JSON.parse(localStorage.getItem("preferences"));
                                    }
                                    else
                                    {
                                        return  [
                                                    {
                                                        stop_name:      "Glacière",
                                                        line_number:    "6",
                                                        id:             "12-208",
                                                        stop_id:        208,
                                                        line_id:        12,
                                                        line_priorite:  7,
                                                        directions:     [
                                                                            {
                                                                                value:  "Charles de Gaulle-Etoile",
                                                                                id:     23
                                                                            },
                                                                            {
                                                                                value:  "Nation",
                                                                                id:     24
                                                                            }
                                                                        ]
                                                    },
                                                    {
                                                        stop_name:      "Charles de Gaulle - Étoile",
                                                        line_number:    "A",
                                                        id:             "19-19",
                                                        stop_id:        19,
                                                        line_id:        19,
                                                        line_priorite:  17,
                                                        directions:     [
                                                                            {
                                                                                value:  "Marne-la-Vallee Chessy / Boissy-Saint-Leger",
                                                                                id:     37
                                                                            },
                                                                            {
                                                                                value:  "Cergy-Le-Haut / Poissy / Saint-Germain-en-Laye",
                                                                                id:     38
                                                                            }
                                                                        ]
                                                    }
                                                ];
                                    }
                                },
            deleteFromPrefs:    function(id)
                                {
                                    var index = this.preferences.map(function(el){ return el.id; }).indexOf(id);

                                    var toPush = this.preferences.slice();
                                    toPush.splice(index, 1);
                                    localStorage.setItem("preferences", JSON.stringify(toPush));

                                    this.splice("preferences", index, 1);
                                },
            addToPrefs:         function(stop)
                                {
                                    if  (stop && stop.id)
                                    {
                                        var exists = this.preferences.some(function(p) { return p.id == stop.id; });
                                        if (!exists)
                                        {
                                            var toPush = this.preferences.slice();
                                            toPush.push(stop);
                                            localStorage.setItem("preferences", JSON.stringify(toPush));
                                            this.interact();

                                            this.push("preferences", stop);
                                        }
                                    }
                                },
            interact:           function()
                                {
                                    localStorage.setItem("userHasInteracted", "true");
                                },
            refresh:            function()
                                {
                                    this.$.drawerPanel.closeDrawer();
                                    this.cancelDelete();
                                    this.updateTime = new Date().getTime();
                                },
            sortPreferences:    function(a, b)
                                {
                                    if (a.line_priorite > b.line_priorite) return 1;
                                    if (a.line_priorite < b.line_priorite) return -1;
                                    if (a.stop_name > b.stop_name) return 1;
                                    if (a.stop_name < b.stop_name) return -1;
                                    return 0;
                                },
            addCard:            function(evt, opt)
                                {
                                    if (opt && opt.stop)
                                    {
                                        this.$.addingCard.show();
                                        this.addToPrefs(opt.stop);
                                    }
                                },
            deleteCard:         function(evt, opt)
                                {
                                    if  (opt && opt.cardId)
                                    {
                                        this.deleteFromPrefs(opt.cardId);
                                    }
                                },
            ready:              function()
                                {
                                    this.preferences = this.getPreferences();
                                },
            displayToast:       function(evt)
                                {
                                    this.$.caching.show();
                                },
            openAddDialog:      function(evt)
                                {
                                    this.$.drawerPanel.closeDrawer();
                                    this.cancelDelete();
                                    this.$.addDialog.open();
                                },
            toggleDelete:       function(evt)
                                {
                                    this.$.drawerPanel.closeDrawer();
                                    this.canDelete = !this.canDelete;
                                },
            cancelDelete:       function(evt)
                                {
                                    this.canDelete = false;
                                },
            getDeleteClass:     function(canDelete)
                                {
                                    return canDelete ? "can-delete" : "";
                                },
            showActionsForCard: function(evt, opt)
                                {
                                    if(opt && opt.cardId)
                                    {
                                        this.cardBeingEdited = opt.cardId;
                                    }
                                }
        });
    </script>
</dom-module>
