<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">

<link rel="import" href="/bower_components/paper-swipe/paper-swipe.html">
<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">

<link rel="import" href="icon-classes.html">
<link rel="import" href="date-span.html">


<dom-module id="time-card">
    <template>
        <style include="iron-flex iron-flex-alignment iron-positioning icon-classes">
            :host {
                font-family: sans-serif;
                @apply(--layout-horizontal);
                @apply(--layout-around-justified);
            }

            paper-card {
                padding: 16px;
                color: #444;
                @apply(--layout-flex);
            }

            paper-swipe
            {
                height:150px;
                width: 900px;
                margin: 10px 20px 5px 20px;

            }

            @media (max-width: 993px) {
                paper-swipe {
                    @apply(--layout-flex);
                }
            }

            .icon {
                background-repeat: no-repeat;
                background-size: contain;
                width: 64px;
                height: 64px;
                margin-right: 30px;
            }

            .icon-small {
                background-repeat: no-repeat;
                background-size: contain;
                width: 38px;
                height: 38px;
                margin-right: 10px;
                display: none;
            }

            .date-small
            {
                display: none;
                font-size:14px;
            }

            .stop-name {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 2em;
                margin-right: 20px;
            }

            .date {
                text-align: right;
            }

            .directions {
                font-weight: 700;
                margin-right: 30px;
                width: 100px;
            }

            .stop {
                width: 40px;
            }

            .ellipsis {
                overflow-x: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .mb10 {
                margin-bottom: 10px;
            }

            .underlay .delete
            {
                position:relative;
                background-color:var(--paper-red-900);
                color:white;
            }

            .underlay .cancel
            {
                position:relative;
                background-color:var(--paper-grey-400);
                color:black;
            }

            .underlay > .cancel > .text,
            .underlay > .delete > .text
            {
                font-weight:700;
            }

            @media(max-width: 767px) {
                .icon-small {
                    display: block;
                }
                .icon {
                    display: none;
                }
                .date {
                    display: none;
                }
                .directions{
                    margin-right: 0;
                    width: 80px;
                }
                .stop {
                    width: 40px;
                    margin-left: 5px;
                }
                .date-small
                {
                    display: block;
                }
            }
        </style>

        <paper-swipe    on-edge="disableAction"
                        peek-offset="-1000"
                        slide-offset="30"
        >
            <iron-ajax
                url="/api"
                params='{{computeHttpOptions(referenceData)}}'
                handle-as="xml"
                last-response="{{horaires}}"
                id="ajax"
            >
            </iron-ajax>

            <div underlay class="underlay horizontal layout">
                <div class="delete flex horizontal layout center center-justified">
                    <paper-ripple></paper-ripple>
                    <iron-icon icon="delete"></iron-icon>
                    <div class="text flex-none">SUPPRIMER</div>
                </div>
                <div class="cancel flex horizontal layout center center-justified" on-tap="resetAction">
                    <paper-ripple></paper-ripple>
                    <iron-icon icon="undo"></iron-icon>
                    <div class="text flex-none">ANNULER</div>
                </div>
            </div>

            <paper-card content id="content">
                <paper-ripple></paper-ripple>
                <div class="horizontal layout mb10">
                    <div class$="[[getSmallIcon(referenceData)]]"></div>
                    <div class="stop-name flex-auto ellipsis">[[ referenceData.stop_name ]]</div>
                    <date-span class="date flex-auto" date="{{ updateTime }}"></date-span>
                </div>
                <date-span class="date-small mb10" date="{{ updateTime }}"></date-span>
                <div class="horizontal layout">
                    <div class$="[[getIcon(referenceData)]]"></div>
                    <div class="directions flex-auto vertical layout around-justified">
                        <div class="ellipsis">[[ getNomDirection(referenceData, 0)]]</div>
                        <div class="ellipsis">[[ getNomDirection(referenceData, 1)]]</div>
                    </div>
                    <div class="stop flex-auto vertical layout around-justified">
                        <div class="ellipsis">[[ getTemps(horairesAller,  0) ]]</div>
                        <div class="ellipsis">[[ getTemps(horairesRetour, 0) ]]</div>
                    </div>
                    <div class="stop flex-auto vertical layout around-justified">
                        <div class="ellipsis">[[ getTemps(horairesAller,  1) ]]</div>
                        <div class="ellipsis">[[ getTemps(horairesRetour, 1) ]]</div>
                    </div>
                    <div class="stop flex-auto vertical layout around-justified">
                        <div class="ellipsis">[[ getTemps(horairesAller,  2) ]]</div>
                        <div class="ellipsis">[[ getTemps(horairesRetour, 2) ]]</div>
                    </div>
                </div>
            </paper-card>
        </paper-swipe>

    </template>

    <script>
        Polymer({
            is: "time-card",
            properties:         {
                                    referenceData:
                                    {
                                        type:   Object,
                                        value:  function()
                                                {
                                                    return {stop_name:"TEST"};
                                                }
                                    },
                                    updateTime:
                                    {
                                        type:       String,
                                        value:      new Date().getTime(),
                                        observer:   'startRequests'
                                    },
                                    horaires:       String,
                                    horairesAller:
                                    {
                                        type:       Array,
                                        computed:   "deserializeXML(referenceData, horaires, 0)"
                                    },
                                    horairesRetour:
                                    {
                                        type:       Array,
                                        computed:   "deserializeXML(referenceData, horaires, 1)"
                                    }
                                },
            computeHttpOptions: function(data)
                                {
                                    if  (   data
                                        &&  data.line_id
                                        &&  data.stop_id
                                        )
                                    {
                                        return  {   cmd:        "getNextStopsRealtime",
                                                    stopArea:   this.referenceData.stop_id,
                                                    line:       this.referenceData.line_id
                                                };
                                    }
                                    else
                                    {
                                        return null;
                                    }
                                },
            deserializeXML:     function(data, xml, index)
                                {
                                    if  (   data
                                        &&  data.directions
                                        &&  data.directions[index]
                                        &&  data.directions[index].id
                                        &&  xml
                                        )
                                    {
                                                            // Transforme la HTMLCollection en Array
                                        return  [].slice    .call   (   xml.getElementsByTagName("nextStop")
                                                                    )
                                                            // Ne garder que le noeuds qui correspondent à la bonne direction
                                                            .filter (   function(el)
                                                                        {
                                                                            return el.getElementsByTagName("directionId")[0].textContent == data.directions[index].id;
                                                                        }
                                                                    )
                                                            //  Sélectionner le texte à afficher, et les temps d'attente en seconds
                                                            .map    (   function(el)
                                                                        {
                                                                            var waiting     = el.getElementsByTagName("waitingTimeRaw")[0].textContent;
                                                                            var seconds     = el.getElementsByTagName("waitingTime")[0].textContent;
                                                                            return { time : waiting, seconds : seconds };
                                                                        }
                                                                    )
                                                            //  Trier par temps en secondes
                                                            .sort   (   function(a, b)
                                                                        {
                                                                            return a.seconds - b.seconds;
                                                                        }
                                                                    );
                                    }
                                },
            startRequests:      function(newValue, oldValue)
                                {
                                    this.$.ajax.generateRequest();
                                },
            getNomDirection:    function(data, index)
                                {
                                    if  (   data
                                        &&  data.directions
                                        &&  data.directions[index]
                                        &&  data.directions[index].value
                                        )
                                    {
                                        return data.directions[index].value;
                                    }
                                    else
                                    {
                                        return "x";
                                    }
                                },
            getTemps:           function(data, idx)
                                {
                                    if  (   data
                                        &&  data[idx]
                                        &&  data[idx].time
                                        )
                                    {
                                        return data[idx].time;
                                    }
                                    else
                                    {
                                        return "x";
                                    }
                                },
            getIcon:            function(data)
                                {
                                    var base_classes = "line-number icon flex-none " ;
                                    var icon = (data && data.line_number) ? "icon-" + data.line_number : "";
                                    return base_classes + icon;
                                },
            getSmallIcon:       function(data)
                                {
                                    var base_classes = "line-number icon-small flex-none " ;
                                    var icon = (data && data.line_number) ? "icon-" + data.line_number : "";
                                    return base_classes + icon;
                                },
            resetAction:        function(ev)
                                {
                                    var target = ev.target;
                                    if (ev.type === 'tap-underlay') {
                                        target = ev.detail.target.target;
                                    }
                                    while (target.localName !== 'paper-swipe') {
                                        target = target.parentElement;
                                    }
                                    target.removeAttribute('disable-swipe');
                                    target.resetPosition();
                                    ev.preventDefault();
                                },
            disableAction:      function(ev)
                                {
                                    var target = ev.target;
                                    while (target.localName !== 'paper-swipe'){
                                        target = target.parentElement;
                                    }
                                    target.setAttribute('disable-swipe', true);
                                }
        });
    </script>
</dom-module>
