#################################################
# Ignore secret key                             #
#################################################
api.json

#################################################
# Ignore compiled stuff, logs                   #
#################################################
node_modules
bower_components