#################################################
# Ignore secret key                             #
#################################################
api.json

#################################################
# Ignore compiled stuff, logs                   #
#################################################
/ProchainsPassages/app/build